snippet table "Table"
$0
| Column | Column |
| ------ | ------ |
| Cell   | Cell   |
| Cell   | Cell   |
endsnippet

snippet color "<span style='color:red;'></span>"
<span style="color:${1:color};">$0</span>
endsnippet

snippet font "<span style='font-size:100%;'></span>"
<span style="font-size:100%;">$0</span>
endsnippet

snippet font-size-color "<span style='font-size:100%; color:red;'></span>"
<span style="font-size:100%; color:red;">$0</span>
endsnippet
